{% extends 'base.html' %}

{% block content %}
  <h1>영화 상세 정보</h1>
  <hr>
  <div class="card" style="width: 30rem;">
    <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" class="card-img-top" alt="...">
    <div class="card-body">
      <figure class="text-end">
        <blockquote class="blockquote">
          <p>{{movie.title}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          {% if movie.overview == '' %}
            <p>줄거리가 비어있습니다. 내용을 채워주세요.</p>
          {% else %}
            {{ movie.overview }}
          {% endif %}
        </figcaption>
      </figure>
      <hr>
      <p>개봉일 : {{movie.release_date}}</p>
      <p>평점 : {{movie.vote_average}}</p>
      <form action="{% url 'movies:index' %}" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">뒤로가기</button>
      </form>
    </div>
  </div>
  <hr>

{% endblock %}
